<div class="row">
    <div class="col-xs-6">
        <h1 *ngIf="title">{{ title.titleName }} <small>{{ title.releaseYear }}</small></h1>
    </div>
    <div class="col-xs-6">
        <p class="btn-container"><a class="btn btn-primary btn-sm" href="#" role="button" [routerLink]="['/list']">Go Back</a></p>
    </div>
</div>

<loader [item]="title"></loader>

<div *ngIf="title">
    <title-genres [genres]="title.titleGenres"></title-genres>
    <title-storylines [storylines]="title.storyLine"></title-storylines>
</div>