
<div class="row">
    <div class="col-xs-6">
        <h1>Titles</h1>
    </div>
    <div class="col-xs-6">
        <p class="btn-container"><a class="btn btn-primary btn-sm" href="#" role="button" [routerLink]="['/home']">Go Home</a></p>
    </div>
</div>


<input type="text" [(ngModel)]="term" class="form-control" placeholder="Search a title...">

<loader [item]="titles"></loader>

<div class="row row-eq-height" *ngIf="titles">
    <div class="col-sm-6 col-md-3"
        *ngFor="let title of titles | filter:term">
        <title-summary [title]="title"></title-summary>
    </div>
</div>
