.jumbotron {
    background-color: white;
}
h1 {
    font-weight: lighter;
}
p {
    margin: 20px 0px 65px 0px;
    font-size: 1.8em;
    color: #D81159;
}
.btn {
    background-color: #06AED5;
    border: 0px solid white;
    border-radius: 0px;
    padding: 20px;
    text-transform: uppercase;
}